

* {
  margin: 0;
  padding: 0;
  
}

body {
  font-family:Arial black;
  background-color: #fff;
  text-align: center;
  margin-top: 40px;
}

.header {
  margin-bottom: 40px;
}

header h1 {
  color: #000;
  margin-bottom: 10px;
}

header p {
  color: #666;
  max-width: 600px;
  margin-left: 500px;
}

.flower-gallery {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}

.flower {
  background-color: #ecece6;
  border-radius: 50% 50% 0 0;
  padding: 20px;
  width: 250px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.flower img {
  width: 100%;
  height: auto;
  object-fit: cover;
}




